.login-page.black-theme {background-color: #111111;color: #fff;}
/* Header CSS Start  */
.black-theme .top-right-nav ul{background: #222222;border-color: #ffffff5e;}
.black-theme .top-header ul li a {color: #ff0;}
.black-theme a.whitebg {background:#fff}
.black-theme li.theme-color a {border:1px solid #fff!important;color: #fff !important;}
.black-theme .top-right-nav select.select-lang {background: transparent;color: #ff0;}
.black-theme .top-header {background: #000;}
.black-theme .logo-sec-wraper {background: #000;}
.black-theme .nav-wraper .custom-nav li a.active {background: #333333;color: #ff0;}
.black-theme  .nav-wraper .custom-nav li a {color: #ff0;}
.black-theme  .logo-sec-wraper a.logo-align img {filter: invert(1);}
.black-theme  .logo-sec-wraper a.logo-align .brand-text h4 span, .black-theme .logo-sec-wraper a.logo-align .brand-text h4 {color: #ff0;}
.black-theme  .nav-wraper .custom-nav li a:hover, .black-theme .nav-wraper .custom-nav li a:focus {background: #333333;color: #fff;}
.black-theme .logo-sec-wraper button.navbar-toggler{background: #ffffff;}
.black-theme .logo-sec-wraper .nav-wraper .navbar-collapse {background: #000;}
.black-theme .logo-sec-wraper .loginbtn-sec{background: #000000;}
/* Header CSS End  */
/* Login Area Start  */
.black-theme .login-area {background: #222222;padding-top: 30px;}
.black-theme button.btn:hover, .black-theme button.btn:hover{background: #cfc53a;}
.black-theme .login-section {background: #000;}
.black-theme .httxt h4 {color: #fff;}
.black-theme .httxt h4:before {background: #fff;}
.black-theme .loin-form label {color: #ffffff !important;}
.black-theme .cus-form-ctrl {background: #333333;border-color: #ffffff69;color: #ffffff;}
.black-theme .cus-form-ctrl:focus {background: #333333;border-color: #ff0;color: #ff0;}
.black-theme .blue-txt {color: #ff0 !important;}
.black-theme .quick-btn {background: #cfc53a;color: #000000;}
.black-theme .login-s-inner {background: #111111;border-color: #ffffff5e;}
.black-theme .quick-btn:before, .black-theme .quick-btn:after {background: #333;}
.black-theme .quick-btn:hover {color: #ff0;}
.black-theme .regester-txts h6.htsmall {color: #ffffff;}
.black-theme .regester-txts .gray-txt {color: #ffffff !important;}
.black-theme a.blue-txt:hover, .black-theme a.blue-txt:focus {text-decoration: underline;color: #ff0 !important;}
.black-theme .top-right-nav {background: #333333;border: 1px solid #dfdfdf38;}
.black-theme .form-control::placeholder {color:#ffff00}
.black-theme .form-control {background: #333333;border-color: #ffffff69;color: #ffffff;}
.black-theme label{color: #ffffff;}
.black-theme .banimg-sec {background: #000;}
/* Login Area End  */
/* OTP Page CSS Start  */
.black-theme .otp-row .round-input:hover, .black-theme .otp-row .round-input:focus, .black-theme .otp-row .round-input:active {background: #000;color: #ff0;}
.black-theme input.form-control.round-input:focus, .black-theme input.form-control.round-input:not(:placeholder-shown), .black-theme input.form-control.round-input:active{background: #000000;color: #ff0;border-color: #ff0 !important;}
.black-theme .otp-form .yellow-txt {color: #ff0;}
.black-theme .otp-form .yellow-txt:hover, .black-theme .otp-form .yellow-txt:focus {text-decoration: underline!important;}
.black-theme .top-header ul li a:hover {color: #ff0;}
.black-theme .top-right-nav select.select-lang option {background: #000;}
/* OTP Page CSS End  */
/* FaQ Page CSS Start  */
.login-page.black-theme {background: #111111;}
.black-theme .breadcrum-bg {background: #222222;border-bottom-color: #ffffff54;}
.black-theme .breadcrum-bg .breadcrumb-item {border-color: #ffffff7d;background: #222222;color: #ff0 !important;}
.black-theme .breadcrumb-area .breadcrumb-item a , .black-theme .inner-page-title h5 , .black-theme .faq-sec p, .accordion-body ul li{color: #ffffff;}
 ul.innpg-ul li:before {border-color: transparent #ffffff;}
.black-theme .breadcrumb-item+.breadcrumb-item::before {color: #fff;}
.black-theme .main-inner-bg {background: #222222;}
.black-theme .inner-page-title h5:before {background: #ff0;}
.black-theme .faq-sec .accordion .accordion-item h2 .accordion-button{color: #ff0 }
.black-theme .faq-sec .accordion .accordion-item h2 .accordion-button , .black-theme .breadcrum-bg .breadcrumb-item.active , .black-theme .accordion-body{background: #000;}
.black-theme .accordion-button.collapsed {background: #222222!important;color: #ff0 !important;}
.black-theme .faq-sec .accordion .accordion-item h2 .accordion-button:hover, .black-theme .faq-sec .accordion .accordion-item h2 .accordion-button:focus {background: #000000 !important;color: #ff0 !important;}
.black-theme .faq-sec .accordion .accordion-item {border: 1px solid #00000087 !important;}
.black-theme .faq-sec .accordion button.accordion-button.collapsed:after { filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%) !important;}
.black-theme .accordion-body li , .black-theme .accordion-body{color: #fff;}
/* FaQ Page CSS End  */
/* Footer CSS Start  */
.black-theme .footer-top-sec {background: #222222;}
.black-theme .footer-top-sec .copyright-sec p {color: #ffffff;}
.black-theme .footer-top-sec .contact-txt p {color: #ffffff;}
/* Footer CSS End  */
.black-theme .top-header .font-action-sec ul {background: #111111;box-shadow: 0px 0px 6px 0px rgb(255 255 255);}
.black-theme .top-header .font-action-sec:before {border-bottom-color: #111111;}
.black-theme .top-header .font-action-sec ul li:hover {background: #333333;}
.black-theme .top-header .font-action-sec ul li:hover a{color: #ff0!important;}
.black-theme .top-header .font-action-sec ul li a {color: #ff0 !important;}
.black-theme .captchareload a{color:#ff0;}
.black-theme .discription-sec p, .black-theme .innner-sub-title h5 {color: #fff;}
.black-theme .custom-table td a {color: #ff0;}
.black-theme .custom-table thead th {background:#111111!important;}
.black-theme .table-striped tr:nth-child(odd) td {background: #333333 !important;}
.black-theme .table-striped tr:nth-child(even) td {background: #222222;}
.black-theme .table tr td, .black-theme .table tr th {color: #ffffff;border-bottom: 1px solid #ffffff59;border-top: 1px solid #ffffff63;}
.black-theme .table-striped tr:hover td {background: #111111 !important;color: #ff0;}
.black-theme .top-header ul li.text-size img.txt-icon{filter:invert(0.45) sepia(1) saturate(10) hue-rotate(30deg) brightness(1.4);}
.black-theme  .video-crd h5.card-title {
    background: #333;
    color: #ff0;
}

.black-theme  .card.video-crd {
    border-color: #595959;background: #333333;
}