@charset "utf-8";
/* CSS Document */
   /* ____________ */
   @font-face {font-family: 'noto_sansbold'; src: url('../fonts/notosans-bold-webfont.woff2') format('woff2'), url('../fonts/notosans-bold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   @font-face {font-family: 'noto_sanscondensed'; src: url('../fonts/notosans-condensed-webfont.woff2') format('woff2'), url('../fonts/notosans-condensed-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   @font-face {font-family: 'noto_sanscondensed_bold'; src: url('../fonts/notosans-condensedbold-webfont.woff2') format('woff2'), url('../fonts/notosans-condensedbold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   @font-face {font-family: 'noto_sanscondensed_extrabold';src: url('../fonts/notosans-condensedextrabold-webfont.woff2') format('woff2'), url('../fonts/notosans-condensedextrabold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   @font-face {font-family: 'noto_sanscondensed_extralight';src: url('../fonts/notosans-condensedextralight-webfont.woff2') format('woff2'), url('../fonts/notosans-condensedextralight-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   @font-face {font-family: 'noto_sanscondensed_light';src: url('../fonts/notosans-condensedlight-webfont.woff2') format('woff2'),url('../fonts/notosans-condensedlight-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   @font-face {font-family: 'noto_sanscondensed_medium';src: url('../fonts/notosans-condensedmedium-webfont.woff2') format('woff2'), url('../fonts/notosans-condensedmedium-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   @font-face {font-family: 'noto_sanscondensed_semibold';src: url('../fonts/notosans-condensedsemibold-webfont.woff2') format('woff2'), url('../fonts/notosans-condensedsemibold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   @font-face {font-family: 'noto_sansextrabold';src: url('../fonts/notosans-extrabold-webfont.woff2') format('woff2'), url('../fonts/notosans-extrabold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   @font-face {font-family: 'noto_sansitalic';src: url('../fonts/notosans-italic-webfont.woff2') format('woff2'), url('../fonts/notosans-italic-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   @font-face {font-family: 'noto_sanslight';src: url('../fonts/notosans-light-webfont.woff2') format('woff2'), url('../fonts/notosans-light-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   @font-face { font-family: 'noto_sansmedium'; src: url('../fonts/notosans-medium-webfont.woff2') format('woff2'),url('../fonts/notosans-medium-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   @font-face {font-family: 'noto_sansregular';src: url('../fonts/notosans-regular-webfont.woff2') format('woff2'), url('../fonts/notosans-regular-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   @font-face {font-family: 'noto_sanssemibold';src: url('../fonts/notosans-semibold-webfont.woff2') format('woff2'), url('../fonts/notosans-semibold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   @font-face {font-family: 'noto_sanssemicondensed';src: url('../fonts/notosans-semicondensed-webfont.woff2') format('woff2'), url('../fonts/notosans-semicondensed-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   @font-face {font-family: 'noto_sanssemicondensed_bold';src: url('../fonts/notosans-semicondensedbold-webfont.woff2') format('woff2'), url('../fonts/notosans-semicondensedbold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   @font-face {font-family: 'noto_sanssemicondensed_light';src: url('../fonts/notosans-semicondensedlight-webfont.woff2') format('woff2'), url('../fonts/notosans-semicondensedlight-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   @font-face {font-family: 'noto_sanssemicondensed_medium';src: url('../fonts/notosans-semicondensedmedium-webfont.woff2') format('woff2'), url('../fonts/notosans-semicondensedmedium-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   @font-face {font-family: 'noto_sansSCnSBd';src: url('../fonts/notosans-semicondensedsemibold-webfont.woff2') format('woff2'), url('../fonts/notosans-semicondensedsemibold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   @font-face {font-family: 'noto_sansthin';src: url('../fonts/notosans-thin-webfont.woff2') format('woff2'), url('../fonts/notosans-thin-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
   /* ____________ */



html{scroll-behavior:smooth}
body{font-family: 'noto_sansregular';font-weight:500;padding:0;margin:0;font-size:14px}
.brand-text h4 span{font-family: 'noto_sanssemibold';}

a:hover, a{text-decoration:none}
.txt-bold{font-weight: 600;}
.blue-txt{color:#110458!important;}
.gray-txt{color: #747474 !important;}
.yellow-txt{color:#FF572E;}
a.blue-txt:hover, a.blue-txt:focus{color: #0D48BE !important;}
button.btn:hover, button.btn:hover{background: #110474;}
.quick-btn{display:inline-block;transition:all 0.5s ease-in-out 0s;-webkit-transition:all 0.5s ease-in-out 0s;border-radius:100px;position:relative;overflow:hidden;background-color: #110458;color: #FFF;border: none;}
.quick-btn:before{left:-20px;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%)}
.quick-btn:after{right:-20px;-webkit-transform:translate(50%, -50%);transform:translate(50%, -50%)}
.quick-btn:before, .quick-btn:after{position:absolute;top:50%;content:"";width:20px;height:20px;background-color: #0D48BE;border-radius:50%}
.quick-btn:after, .quick-btn:before{z-index:-1;transition:all 0.5s ease-in-out 0s;-webkit-transition:all 0.5s ease-in-out 0s}
.quick-btn:hover{color:#fff;z-index:1}
.quick-btn:hover:before{-webkit-animation:criss-cross-left 0.8s both;animation:criss-cross-left 0.8s both;-webkit-animation-direction:alternate;animation-direction:alternate}
.quick-btn:hover:after{-webkit-animation:criss-cross-right 0.8s both;animation:criss-cross-right 0.8s both;-webkit-animation-direction:alternate;animation-direction:alternate}
@keyframes criss-cross-left {
    0%{left:-20px}
    50% {left:50%;width:20px;height:20px}
    100%{left:50%;width: 500px;height:375px}
}
@keyframes criss-cross-right {
    0%{right:-20px}
    50%{right:50%;width:20px;height:20px}
    100%{right:50%;width:375px;height:375px}
}

.cus-form-ctrl{border-radius: 15px !important;border: 1px solid #E1E1E1;padding:8px 10px;}
.form-check-input.cus-form-ctrl {
    border-radius: 5px !important;
}.cus-form-ctrl:focus {
    box-shadow: none;
    border-color: #110458;
}

.login-page{background: url(../images/body-bg.png) no-repeat;background-size: cover;}
/* Top Header css Start */
.select-lang {border: none;line-height: 0px !important;padding: 0!important;}
.select-lang option {min-height: auto !important;line-height: 0;padding: 0 !important;}
.top-right-nav {background: #fff;border-radius: 0px 0px 12px 12px;border: 1px solid #EFEFEF;padding-left: 0;}
.top-header ul li.theme-color a.blackbg {background: #000;color: #fff;}
.top-header ul li.theme-color a {padding: 4px !important;border: 1px solid #000;}
.top-header ul li:last-child{border:none;padding-right:0}
.top-header ul{display:flex;margin-bottom:0;padding-left:0;align-items:center;justify-content: space-between;}
.top-header ul li{padding: 0 20px;line-height:1;display:flex;border-right: 1px solid #b3b3b38c;}
.top-header ul li a{color: #0B1636;font-size: 14px;padding: 8px 3px;}
.top-left-nav ul{justify-content:flex-start}
li.text-size a{padding-right:9px}
li.text-size a:last-child{padding-right:0}
.top-left-nav{display:flex}
/* Top Header css End */
/* Logo Section Header css Start */
.logo-sec-wraper{padding: 6px 0px 12px 0;}
a.logo-align{text-decoration:none;display:flex;align-items:center}
.brand-text h4 span.logo-sm-txt {font-size: 17px;line-height: 28px;}
.brand-text h4{padding-left: 12px;font-size: 22px;color:#000;line-height: 26px;margin-bottom:0;}
.brand-text h4 span{color:#000;display:block;font-size: 22px;line-height:normal}
/* Logo Section Header css End */
/* Main Menu Section Header css Start */
nav.navbar{padding:0}
.custom-nav li{padding:0;position:relative}
.nav-wraper .custom-nav li a{font-size: 16px;color:#000;padding: 6px 20px!important;display:inline-block;font-family: 'noto_sanssemibold';border-radius: 18px;}
.loginbtn-sec{align-items:center;display:flex;justify-content:end}
.nav-wraper .custom-nav li.nav-item + li.nav-item {margin-left: 7px;}
.nav-wraper .custom-nav li a.active {background: #013FBB;color: #fff;}
.nav-wraper .custom-nav li a:hover, .nav-wraper .custom-nav li a:focus {background: #013FBB; color: #fff;transition: background 0.6s;}
/* Main Menu Section Header css End */

/* Login CSS Start  */
.login-banner-inner .banimg-sec img {width: 100%;}
.login-banner-inner {position: relative;}
.login-banner-inner .banner-txts {position: absolute;top: 30px;right: 30px;text-align: right;}
.login-banner-inner .banner-txts h5 {font-size: 30px;font-family: 'noto_sanssemibold';margin: 0;line-height: 30px;}
.login-banner-inner  .banner-txts h6 {font-size: 18px;margin: 0;line-height: 26px;font-family: 'noto_sanssemibold';}
.captchaimage>.mb-3>input.form-control {
    text-align: center;
    background: rgb(0,0,0);
    padding: 7px 15px;
    cursor: none;
}
.captchaimage>.mb-3>input.form-control::placeholder {color: #fff !important;text-decoration: line-through;}
.loin-form .quick-btn {width: 100%;padding: 12px 5px;line-height: 21px;}
.login-section {
    padding-left: 0;
    background: #fff;
    border-radius: 0 20px 20px 0;
    padding-right: 0;
    display: flex;
    justify-content: center;
}
.login-s-inner {
    padding: 40px;
    margin: 20px;
    border: 1px dashed #BEBEBE;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 0 15px 15px 0;
}
.httxt h4 {
    font-size: 30px;
    margin-bottom: 50px;
    position: relative;
    width: fit-content;
    font-family: 'noto_sanssemibold';
}

.httxt h4:before {
    content: '';
    position: absolute;
    bottom: -33%;
    left: 0;
    width: 85px;
    background: #FF572E;
    height: 3px;
}
h6.htsmall {
    font-size: 18px;
    font-family: 'noto_sanssemibold';
}
.regester-txts .regester-links {
    display: flex;
    justify-content: space-between;
}
.login-banner {
    padding-right: 0;
}
.loin-form label {
    font-size: 16px;
    color: #000;
}

.regester-txts {
    margin-top: 15px;
}
/* Login CSS End  */
/* OTP Page CSS Start  */
.otp-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.otp-form {
    height: 100%;
}
.round-input {
    border-radius: 50%;
}

.otp-row .round-input {
    height: 45px;
    width: 45px;
    border-color: #E1E1E1 !important;
    text-align: center;
    font-size: 16px;
}

.otp-row .round-input:hover, .otp-row .round-input:focus {
    background: #EEEEEE;
    box-shadow: none;
    border-color: #1104585c !important;
}
.otp-row > .col {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* OTP Page CSS End  */

/* Footer Section css Start */
.footer-top-sec {
    padding: 30px;
}
.footer-top-sec p {margin: 0;font-size: 16px;}
.footer-top-sec .copyright-sec p {font-family: 'noto_sanssemibold';}
.footer-top-sec .contact-txt p {color: #747474;font-family: 'noto_sanssemibold';text-align: right;}


/* Footer Section css End */

@media (max-width: 767px){
/* Top Header CSS Start  */
.top-header .top-right-nav ul{display:inline-block;text-align:center;height:auto!important}
.top-header .top-right-nav ul li{padding:0 4px;display:inline-block;margin:5px 0;}
.top-header .top-left-nav{justify-content:center;margin:5px 0;}
.top-header li.search-btn a{font-size:13px!important;padding:3px 7px;}
/* Menu CSS Start  */
.top-right-nav ul{display:inline-block;text-align:center;height:auto!important;}
.top-right-nav ul li{padding:0 4px;display:inline-block;margin:5px 0;}
.top-left-nav{justify-content:center;margin:5px 0;}
.logo-sec-wraper .loginbtn-sec{justify-content:start;margin-top:10px;padding-top:5px;padding-bottom:5px;background:#ffb633;}
.logo-sec-wraper{padding:15px 0 0px;}
.logo-sec-wraper .navbar-toggler{background:#fff;padding:3px 8px;font-size:16px;}
.nav-wraper .custom-nav li a.active{background:#ffb633;}

}
@media screen and (max-width: 991px) and (min-width: 768px){
 /* Menu Area CSS Start  */
.nav-wraper .navbar-collapse{position:absolute;right:0;background:#fff;top:44px;z-index:9;box-shadow:0 0 10px #bbbbbb;}
.custom-nav li{width:100%;}
.loginbtn-sec{position:relative;}
.nav-wraper .custom-nav li a{white-space:nowrap;width:100%;text-align:center;border-bottom:1px solid #e1e1e1}
.nav-wraper .custom-nav li:last-child a{border-bottom:none;}
.nav-wraper .custom-nav li a.active{background:#ffb633;}
.custom-nav{justify-content: end;}
}
@media screen and (max-width: 1199px) and (min-width: 992px){
    /* Logo Area CSS Start  */
    .brand-text h4{font-size:21px;}
    .brand-text h4 span{font-size:21px;}
    /* Menu CSS Start  */
    .nav-wraper .custom-nav li:first-child a{padding-left:0!important;}
    .nav-wraper .custom-nav li:last-child a{padding-right:0!important;}
    .nav-wraper .custom-nav li a {font-size:14px;padding:10px 6px!important;}
}



@media only screen and (max-width: 1430px){
    .container, .container-fluid{max-width:1300px!important}
}
.container, .container-fluid{width:100%;padding:0 15px;max-width:1430px;margin:0 auto}