
.jsmaps-wrapper{
    padding-top: 2% !important;

}
.jsmaps-select{
    padding-bottom: 2% !important;
}
.select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 0 !important;
    width: 20px;
}
.select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
/*    border-style: none !important;*/
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 8% !important;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}
.blinking{
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    0%{		color: red;	}
    49%{	color: transparent;	}
    50%{	color: transparent;	}
    99%{	color:transparent;	}
    100%{	color: #000;	}
}
i.fa {
    font-family: FontAwesome !important;
}

.font_class{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}
.font_class_new{
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
}
.font_styles{
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;

}
.filter_select_dropdown{
    width:100% !important;
    padding-bottom: 2% !important;
}
.jsmaps-select-icon{

    height: 77% !important;
}
.wrapper {
    height: auto;
    background: #d1d3d4 url('../../assets/images/lp-bg1.jpg') no-repeat ;
    background-size: cover;
}
.card-plate_news
{
    border:1px solid #ccc; 
    padding: 20px;
    border-radius: 10px; 
    background: rgba(255,255,255,0.4);
    height: 268px !important;
}

.card-plate
{ height: 555px !important;
  border:1px solid #ccc; 
  padding: 20px;
  border-radius: 10px; 
  background: rgba(255,255,255,0.4);


}.navbar-nav > li > a {
    color: ad0909 !important;
}
.navbar-nav{
margin: 2px;
}
.navbar-inverse {

    border-color: ad0909 !important;
}

.navbar {
    width: 100%;
    position: fixed !important;
    min-height: 30px;
    margin-bottom: 100px !important;
    border: 1px solid transparent;
    background: #d1d3d4 !important;
    padding: 10px 10px 0 0  !important; 
    color: #ffffff  !important;
}
.main{ 
    padding-top: 7%;
    padding-bottom: 1%;
    width:100%;
}

.active a {
    background-color: green !important;
}
.marquee {
    height:80%;
    overflow: hidden;
    position: relative;
}
.jsmaps-select select {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 28px !important; 
    margin-bottom: 20px;
    padding: 3px 40px 5px 13px !important;
    border: 1px solid #999;
    border-radius: 3px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: inherit;
    /* for IE and Edge */ }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background: #343433; 
    padding: 10px 0; 
}
.well{
    height: 235px !important;
}

@media screen and  (min-width: 300px)and  (max-width: 350px) {
    
    .jsmaps-wrapper{
        top: 2%;
        width:100%;
        height:100%;

    }
    .jsmaps-select-icon{

        height: 78% !important;
    }

    .main{
        padding-top: 60%;
    }
    .jsmaps-select{
        z-index: 3 !important;
        width: 100% !important;
    }

    .card-plate
    { height:100% !important;
      border:1px solid #ccc; 
      padding: 20px;
      border-radius: 10px; 
      background: rgba(255,255,255,0.4);

    }
    .card-plate_news
    {
        border:1px solid #ccc; 
        padding: 20px;
        border-radius: 10px; 
        background: rgba(255,255,255,0.4);
        height: 5% !important;
    }


}
@media screen and  (min-width: 351px)and  (max-width: 480px) {
    .jsmaps-wrapper{
        top: 2%;
        width:100%;
        height:100%
    }
    .jsmaps-select-icon{

        height: 100% !important;
    }
    .main{
        padding-top: 50%;
    }
    .jsmaps-select{
        z-index: 3 !important;
        width: 100% !important;
    }

    .card-plate
    { height:100% !important;
      border:1px solid #ccc; 
      padding: 20px;
      border-radius: 10px; 
      background: rgba(255,255,255,0.4);


    }
}
@media screen and  (min-width: 482px)and (max-width: 700px) {
    .jsmaps-wrapper{
        top: 2%;
        width:100%;
        height:100%
    }
   
    .main{
        padding-top: 35%;
    }
    .jsmaps-select{
        z-index: 3 !important;
        width: 100% !important;

    }


    .card-plate
    {  height:100% !important;
       border:1px solid #ccc; 
       padding: 20px;
       border-radius: 10px; 
       background: rgba(255,255,255,0.4);


    }
    .card-plate_news
    {
        border:1px solid #ccc; 
        padding: 2% 2% 4% 2%;
        border-radius: 10px; 
        background: rgba(255,255,255,0.4);
        height: 5% !important;

    }

}
@media screen and  (min-width: 701px)and (max-width: 850px) {
    .jsmaps-wrapper{
        top: 2%;
        width:100%;
        height:100%
    }
    .main{
        padding-top: 20%;
    }
    .jsmaps-select{
        z-index: 3 !important;
        width: 100% !important;

    }
    


    .card-plate
    { height:100% !important;
      border:1px solid #ccc; 
      padding: 20px;
      border-radius: 10px; 
      background: rgba(255,255,255,0.4);


    }
    .card-plate_news
    {
        border:1px solid #ccc; 
        padding: 2% 2% 4% 2%;
        border-radius: 10px; 
        background: rgba(255,255,255,0.4);
        height: 5% !important;

    }

}
@media screen and  (min-width: 851px)and (max-width: 1200px) {
    .jsmaps-wrapper{
        top: 2%;
        height:100%
    }
    .main{
        padding-top: 20%;
    }
    .jsmaps-select{
        z-index: 3 !important;
        width: 100% !important;

    }
    .card-plate
    { height:100% !important;
      border:1px solid #ccc; 
      padding: 20px;
      border-radius: 10px; 
      background: rgba(255,255,255,0.4);


    }
    .card-plate_news
    {
        border:1px solid #ccc; 
        padding: 2% 2% 4% 2%;
        border-radius: 10px; 
        background: rgba(255,255,255,0.4);
        height: 5% !important;

    }
}
@media screen and  (min-width: 1201px) and  (max-width: 1920px) {
    .jsmaps-wrapper{
        top: 2%;

    }
    .main{
        padding-top: 9%;
    }
    .jsmaps-select{
        z-index: 3 !important;
        width: 100% !important;
    }
    

    .card-plate
    { 
        height:100% !important;
        border:1px solid #ccc; 
        padding: 20px;
        border-radius: 10px; 
        background: rgba(255,255,255,0.4);


    }

}


